.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  /* width: 25rem; */
  height: 1.2rem;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(204, 213, 227, 1);
  font-size: 1.2rem;
  line-height: 150%;
  font-size: 0.875rem;
}

.password {
}
.eye {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 25px;
}
.errorMessage {
  margin-top: 10px;
  color: red;
}
